<!DOCTYPE html>
<html>

<head>
    <title>FCC File Metadata</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form action="/" enctype="multipart/form-data" method="post" id="#my-form">
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
    </form>  
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="public/myfile.js"></script>
	<script>
		
	$(document).ready(function() {
	console.log("is this working");
})
	</script>

</body>

</html>